
//top
.Navbar {
    font-size: 20px;
    list-style-type: none;
    background: #F5DEB3;
}

.align{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ulNav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.marginLi {
    margin: 10px;
    font-size: 10px;
 
}


// .nav {  
//     background: lemonchiffon;
//     min-height: 100vh;
//     min-width: 100%;
//   }