
//top
.Navbar {
    color: whitesmoke;
    font-size: 20px;
    list-style-type: none;
    background: #154360;
    opacity: .6;
}

.align{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: whitesmoke;
}

.ulNav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.marginLi {
    margin: 10px;
    font-size: 15px;
    color: whitesmoke;
 
}


// .nav {  
//     background: lemonchiffon;
//     min-height: 100vh;
//     min-width: 100%;
//   }